iframe {
  border: 1px solid lightgray;
  width: 100%;
  height: 600px;
  border-radius: 6px;
}

.booking {
  max-width: 1200px;
  margin: 0 auto;
}

.booking h1 {
  text-align: center;
  margin: 3rem 0;
}

.booking_content {
  max-width: 800px;
  margin: 3rem auto;
}
.cta {
}

@media (max-width: 800px) {
  iframe {
    border: 1px solid lightgray;
    width: 100%;
    height: 600px;
  }
}
