.main_container h1 {
  display: none;
  height: 400px;
}

.main_container {
  display: flex;
  min-height: 90dvh;
}

.area_activity_1,
.area_activity_2,
.area_activity_3 {
  background-color: blue;
  flex: 1;
  color: white;
  font-size: var(--font-size-lg);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  padding-bottom: 9rem;
  transition: ease-in-out 0.2s;
}

.area_activity_1 {
  background-image: url(../../assets/gallery/mosaikkkunst/iryna-muller-nEbUNxYaWQU-unsplash.webp);
  background-size: cover;
  filter: grayscale(100%);
}

.area_activity_2 {
  background-image: url(../../assets/gallery/akvarellmaling/annie-spratt-sVAXV_PbvLs-unsplash.webp);
  background-size: cover;
  filter: grayscale(100%);
}

.area_activity_3 {
  background-image: url(../../assets/gallery/leirettsmaling/europeana-a0KlhY8GXPg-unsplash.webp);
  background-size: cover;
  filter: grayscale(100%);
}

.area_title {
  transform: rotate(-90deg);
  font-size: var(--font-size-xlg);
  color: var(--color-text-light);
  white-space: nowrap;
  margin: 0 -6rem 6rem 0;
  text-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.area_activity_1:hover,
.area_activity_2:hover,
.area_activity_3:hover {
  filter: grayscale(50%);
  transition: ease-in-out 0.2s;
}

@media (max-width: 800px) {
  .area_title {
    margin: 0 -9rem 6rem 0;
  }
}
