@import url(https://fonts.bunny.net/css?family=akshar:300,500|mynerve:400);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colours, typography and transition*/
:root {
  --color-background-light: rgb(246, 246, 246);
  --color-background-gray: rgb(237, 237, 237);
  --color-background-dark: rgb(52, 52, 52);
  --color-text-dark: rgb(108, 108, 108);
  --color-text-light: rgb(237, 237, 237);
  --color-accent: brown;
  --font-base: "Akshar", sans-serif;
  --font-pair: "Mynerve", handwriting;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.5rem;
  --font-size-xlg: 4rem;
  --smooth: ease-in-out 0.2s;
}

body {
  font-family: var(--font-base);
  font-weight: 300;
  font-size: var(--font-size-md);
  color: var(--color-text-dark);
  background-color: var(--color-background-light);
}

h1 {
  font-family: var(--font-pair);
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-text-dark);
}

a:hover {
  color: var(--color-accent);
}

.cta {
  background-color: var(--color-text-dark);
  color: var(--color-text-light) !important;
  padding: 1rem 4rem;
  border: solid 3px;
  transition: var(--smooth);
}

.cta:hover {
  background-color: var(--color-text-light);
  color: var(--color-text-dark) !important;
  border: solid 3px;
  transition: var(--smooth);
}

.deco_img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

@media (min-width: 1800px) {
  .deco_img {
    height: 22rem;
  }
}

@media (max-width: 800px) {
  .deco_img {
    height: 14rem;
  }
}
