.active {
  font-weight: 700;
}

.logo_nav {
  height: clamp(5rem, 4vw, 10rem);
  width: auto;
}

nav {
  background-color: var(--color-background-light);

  font-family: var(--font-pair);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.nav_logo {
  justify-self: center;
}

.nav_items_1 {
  margin-right: auto;
  display: flex;
  gap: 2rem;
}
.nav_items_2 {
  margin-left: auto;

  display: flex;
  gap: 2rem;
}

@media (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  .nav_items_1 {
    flex-direction: column;
    order: 1;
    margin-right: 0;
    gap: 1rem;
  }

  .nav_items_2 {
    flex-direction: column;
    order: 2;
    margin-left: 0;
    margin-top: 1rem;
    gap: 1rem;
  }
  .nav_logo {
    order: 0;
  }
}
